img#top-logo{
    width: 700px;
    float: left;
    clear: right;
}

img#bottom-logo{
    width: 30px;
    vertical-align: middle;
}

div#clear{
    clear: both;
    margin-bottom: 20px;
}

label:first-of-type{
    margin-right: 10px;
}

label:last-of-type{
    margin-right: 10px;
}

img:last-of-type{
    
}

input:last-of-type{
    height: 25px;
}