#face{
	background-color: yellow;
	width: 500px;
	height: 500px;
	margin: 0 auto;
	border-radius: 50%;
	margin-top: 50px;
	position: relative;
	border: black 1px solid;
}

.eye{
	width: 100px;
	height: 100px;
	border: black solid 1px;
	position: absolute;
	top: 140px;
	left: 100px;
	border-radius: 50%;
	display: inline-block;
	background-color: white;
}

.eye:last-of-type{
	left: 300px;
	position: absolute;;
}

.nose{
	width: 75px;
	height: 75px;
	border: black solid 1px;
	position: absolute;
	top: 241px;
	left: 213px;
	border-radius: 50%;
	display: inline-block;
	background-color: red;
}

.mouth:first-of-type{
	width: 95px;
    height: 95px;
    border: none;
    position: absolute;
    top: 329px;
    left: 151px;
    border-radius: 50%;
    display: inline-block;
    background-color: white;
    border-left: black solid 1px;
}

.mouth-last{
	width: 95px;
    height: 95px;
    border: none;
    position: absolute;
    top: 329px;
    left: 250px;
    border-radius: 50%;
    display: inline-block;
    background-color: white;
    border-right: black solid 1px;
}

.mouth-middle{
	display: inline-block;
    height: 93px;
    width: 111px;
    position: absolute;
    background-color: white;
    left: 193px;
    top: 329px;
    border-top: black 1px solid;
    border-bottom: 1px solid black;
}

.eyeball {
    width: 40px;
    height: 40px;
    background-color: black;
    position: relative;
    left: 43px;
    top: 46px;
    border-radius: 50%;
}

.eye:last-of-type .eyeball{
	left: 0px;
    top: 0px;
}

.teeth{
	width: 50px;
    height: 45px;
    background-color: white;
    position: relative;
    left: 5px;
    top: 0px;
    border: 1px solid black;
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.teeth:last-of-type{
	left: 1px;
}

